body {
    font-family: 'Raleway', sans-serif;;
    background:#eee;
}

.barfiller {
    width: 100%;
    height: 12px;
    background: #f1f1f1;
    position: relative;
    margin-bottom: 35px;
    border-radius: 10px;
}

.barfiller .fill {
    display: block;
    position: relative;
    width: 0px;
    height: 100%;
    background: red;
    z-index: 1;
    border-radius: 10px;
}

.barfiller .tipWrap {
    display:none;
}

.barfiller .tip {
    margin-top: -40px;
    font-size: 16px;
    color: #333;
    position: absolute;
    z-index: 2;
    left: auto !important;
    right: 0;
    font-weight: 700;
}
